<div class="page-welcome-content">
    <h1>
        Welcome!
    </h1>

    <div class="icons-area">
        <p>
            <span>ion-ionic</span>
            <i class="ion-ionic"></i>
        </p>


        <p>
            <span>ion-alert</span>
            <i class="ion-alert"></i>
        </p>
        
        <p>
            <span>ion-help-circled</span>
            <i class="ion-help-circled"></i>
        </p>
    </div>

</div>